a {
    color: white;
    text-align: center; /* For Edge */
    text-align-last: center;
    font-weight: bold;
}

#imgLogo {
    background-color: inherit;
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
}

/*
#divImgLogo {
    height: 80%;
    width: 80%;
}

#centerMainMenu {
    z-index: 2;
    position: relative;
    height: 100%;
    width: 100%;
}

#linksMainMenu {
    position: absolute;
    top: 0;
    left: 0;
}

*/

.linkMainMenu {
    height: 100%;
    width: 100%;
}

#comiteEntreprise {
    background-color: #c34b98;
}

#skalisPartageSalarial {
    background-color: #ee68b1;
}

#formations {
    background-color: #e6345c;
}

#talentToday {
    background-color: #ed7079;
}

#talents {
    background-color: #fbc641;
}

#news {
    background-color: #fef273;
}

#penseBete {
    background-color: #6ab95c;
}

#offreEmploi {
    background-color: #67bf8f;
}

#agendaGoogle {
    background-color: #2facc0;
}

#missions {
    background-color: #68c5ed;
}

#incwo {
    background-color: #2d84bf;
}

#carnetAdresses {
    background-color: #708ebe;
}

#hubGrade {
    background-color: #c34b98;
}